<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        #banner {
            height: 360px;
            object-fit: cover;
            width: 100%;
        }
    </style>
    <title>Xexta Careers</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
        <img class="img-fluid" id="banner" src="http://127.0.0.1:5000/static/banner.jpg">
        <h2 class="text-center mt-2 mb-4">About Xexta</h2>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium suscipit quis,
            modi placeat fugiat nesciuntnemo eos, soluta harum dolore nihil reiciendis libero
            adipisci unde itaque animi laboriosam explicabo quam? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Recusandae, voluptates labore. Quibusdam deleniti rerum
            a sed veniam dignissimos assumenda nisi blanditiis praesentium ad consectetur ullam
            accusamus qui, quasi culpa. Eius.
        </p>
        <h2 class="text-center">Open Positions</h2>
        <div>
            {% for job in jobs %}
                {% include 'jobitem.html' %}
            {% endfor %}
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-large">Contact Us</button>
            <p class="mt-4">Copyright 2025, Xexta</p>
        </div>
    </div>
</body>

</html>